.side-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  background-color: white;
  z-index: 1001;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.side-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.side-window-close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.selected-items {
  margin-top: 10px;
}

.selected-item {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
}

.selected-item .remove-button {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #ff0000;
}

button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.submit-button, .close-button1 {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.submit-button {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}

.close-button1 {
  background-color: #007bff;
  color: white;
  margin-left: 30px;
}
