.feedback-page {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #333;
}

.feedback-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-item {
  text-align: center;
}

.feedback-item h2 {
  margin: 0;
  font-size: 2.5rem;
  color: #007bff;
}

.feedback-item p {
  margin: 5px 0 0 0;
  color: #666;
}

.feedback-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-list h3 {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 0 10px 0;
  font-weight: normal;
  color: #666;
  background-color: #e9f5ff; /* Light blue background */
  padding: 10px 0;
  border-radius: 5px;
}

.feedback-list .name, .feedback-list .rating, .feedback-list .message {
  color: #1e90ff; /* DodgerBlue */
}

.no-data {
  text-align: center;
  margin-top: 20px;
}

.no-data img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.no-data p {
  color: #666;
  font-size: 1.2rem;
}
